{% extends "AppsServicios/plantilla_base_2.html" %}
{% load static %}

{% block blockname %}
    <body class="d-flex flex-column h-100">
        <br>
        <p class="text-center"><img class="img-fluid rounded mb-5 mb-lg-0" src="http://127.0.0.1:8000/media/imagenes/Directorio.png" alt="..." /></p>
        <hr>
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">El objetivo de esta aplicacion es que en primera instancia el usuario tenga una experiencia comoda, practica y que pueda navegar de manera intuitiva.</h1>
                                <p class="lead fw-normal text-muted mb-4">Para conocer un poco mas de los creadores de esta App simulando una drogueria... dejamos una breve descripción y acceso a nuestras redes sociales.</p>
                                <a class="btn btn-primary btn-lg" href="#scroll-target">Quienes Somos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="http://127.0.0.1:8000/media/imagenes/Nico.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Nicolas Cestari</h2>
                            <p class="lead fw-normal text-muted mb-0">27 de Junio de 1988, 34 años.</p>                      
                            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item me-4">
                                        <a href="https://www.facebook.com/nicolas.cestari.18" style="margin-left: 60px"><i class="bi-facebook fs-3"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.instagram.com/nicolas.cestari/"><i class="bi-instagram fs-3"></i></a>
                                    </li>
                                    <li class="list-inline-item me-4" style="margin-left: 20px">
                                        <a href="https://github.com/NicoCestari" class="icon brands fa-github"><span class="bi-github fs-3"></span></a>
                                    </li>
                                    <li class="list-inline-item me-4">
                                        <a href="https://www.linkedin.com/in/nicolas-cestari/" class="icon brands fa-github"><span class="bi-linkedin fs-3"></span></a>
                                    </li>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="http://127.0.0.1:8000/media/imagenes/Luqui.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Lucas Leonel Diaz</h2>
                            <p class="lead fw-normal text-muted mb-0">20 de julio de 1992, 30 años.</p>
                            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item me-4">
                                        <a href="https://www.facebook.com/Diaz.lucas.leonel"><i class="bi-facebook fs-3"></i></a>
                                    </li>
                                    <li class="list-inline-item me-4">
                                        <a href="https://twitter.com/iLucas_txt"><i class="bi-twitter fs-3"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.instagram.com/lucaas.jpeg/"><i class="bi-instagram fs-3"></i></a>
                                    </li>
                                    <li class="list-inline-item me-4" style="margin-left: 20px">
                                        <a href="https://github.com/LucasLD92" class="icon brands fa-github"><span class="bi-github fs-3"></span></a>
                                    </li>
                                    <li class="list-inline-item me-4">
                                        <a href="https://www.linkedin.com/in/lucas-leonel-diaz-2790551a5/" class="icon brands fa-github"><span class="bi-linkedin fs-3"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section three-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="http://127.0.0.1:8000/media/imagenes/Pablo.jpg" height="640px" alt="Imagen de Pablo Figueroa" /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Pablo Luis Figueroa</h2>
                            <p class="lead fw-normal text-muted mb-0">25 de Julio de 1988, 34 años.</p>
                            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item me-4">
                                        <a href="https://www.facebook.com/pabloluis.figueroa"><i class="bi-facebook fs-3"></i></a>
                                    </li>
                                    <li class="list-inline-item me-4">
                                        <a href="https://twitter.com/ponjaz"><i class="bi-twitter fs-3"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.instagram.com/ponja2507/"><i class="bi-instagram fs-3"></i></a>
                                    </li>
                                    <li class="list-inline-item me-4" style="margin-left: 20px">
                                        <a href="https://github.com/ponja2507" class="icon brands fa-github"><span class="bi-github fs-3"></span></a>
                                    </li>
                                    <li class="list-inline-item me-4">
                                        <a href="https://www.linkedin.com/in/pablo-luis-figueroa/" class="icon brands fa-github"><span class="bi-linkedin fs-3"></span></a>
                                    </li>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Nuestro Equipo!</h2>
                        <p class="lead fw-normal text-muted mb-5">Alumnos de Mauricio Cuello</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="http://127.0.0.1:8000/media/imagenes/Nico_abajo.jpg"  alt="..." />
                                <h5 class="fw-bolder">Nicolas Cestari</h5>
                                <div class="fst-italic text-muted">Desarrollador</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="http://127.0.0.1:8000/media/imagenes/Luqui_abajo.jpg"  alt="..." />
                                <h5 class="fw-bolder">Lucas Leonel Diaz</h5>
                                <div class="fst-italic text-muted">Desarrollador</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="http://127.0.0.1:8000/media/imagenes/Pablo_abajo.jpg"  alt="..." />
                                <h5 class="fw-bolder">Pablo Luis Figueroa</h5>
                                <div class="fst-italic text-muted">Desarrollador</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
{% endblock blockname %}