{% extends "AppsServicios/plantilla_base_2.html" %}

{% block blockname %}

{% if borrado %}

<div class="eliminado">Fue borrado exitosamente el servicio Id: {{ borrado }}</div>

{% endif %}   

<body>
  <br>
  <p class="text-center"><img class="rounded-circle" src="https://watermark.lovepik.com/photo/40150/2130.jpg_wh1200.jpg"height="400"alt="..." /></p>
  <hr>
  <br>
  <h1 class="text-center"> PRINCIPALES SERVICIOS </h1>
  <br>
  <br>
  <br>
  <br>
  <p>Servicios </p>

  <center>

      <table class="table table-striped">
          <tr>
            <th>ID</th>
              <th>Nombre</th>
              <th>Costo</th>
              <th>Tiempo</th>
              <th>Editar o Eliminar</th>

          </tr>
          {% for servicio in servicio %}
          <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{servicio.nombre}}</td>
              <td>{{servicio.valor}}</td>
              <td>{{servicio.tiempo}}</td>

              <td>
              
                  <a style="color: black; text-decoration: none" href="{% url 'editar_servicio' servicio.id %}">Editar</a> |
                  <a style="color: black; text-decoration: none" href="{% url 'eliminar_servicio' servicio.id %}">Eliminar</a> 
                    
              </td>
              
          </tr>
              {% endfor %}
      </table>
  </center>

  <p> Para agregar un nuevo servicio, click  <a style="text-decoration: none;" href="{% url 'servicio_formulario' %}" class="btn btn-outline-primary">AQUI</a> </p>
  <hr>
 
  <h1 class="text-center"><a href="{% url 'inicio' %}" 
    class="btn btn-outline-primary" > VOLVER</a href ="{% url 'inicio' %}"></h1>
  
  <hr><hr>  
</body>
{% endblock blockname %} 
</html>


<!------------------------------------------------------------>