{% extends "AppCoder/plantilla_base.html" %}

{% block style_block %}
<style>
  table.coder-table {
    border:3px solid;
  }
  th,
  td {
    border:1px solid;
    padding:5px 10px;
  }
</style>
{% endblock style_block %}

{% block contenido_base %}

<h1>servicios</h1>
<a href=>Crear servicios!</a>
<br>
<a href=>Buscar servicios</a>

<br><br>
<h3>contacto:</h3>

<table class="coder-table">
  <tbody>
    <tr>
      <th>
        <strong>Nombre</strong>
      </th>
      <th>
        <strong>apellido</strong>
      </th>
    </tr>
    {% for contacto in contactos %}
    <tr>
      <td>{{contactos.nombre}}</td>
      <td>{{contactos.version}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido_base %}
