<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}


        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Apps Services</title>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'AppsServicios/assets/tecno.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppsServicios/css/styles.css' %}" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Barra de Navegacion-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="{% url 'inicio' %}">INICIO</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menú</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="{% url 'tecnologias' %}">Tecnologias</a></li>
                                    <li><a class="dropdown-item" href="{% url 'contactos' %}">Contactos</a></li>
                                    <li><a class="dropdown-item" href="{% url 'servicios' %}">Servicios</a></li>
                                    
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'contacto_emails' %}"> | Contacto | </a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'acerca_appsservices' %}">Acerca de Apps Services | </a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Directorio | </a></li>
                            
                            {% if user.is_authenticated %}
                                <p style="color: rgb(255, 255, 255); text-decoration: none; margin-right: 10px; margin-top: 7px;">Bienvenido/a {{user.username}}  </p>
                                <img src="{% url 'inicio' %}" height="40px" alt="Avatar">
                                <li class="btn btn-primary" disabled ><a style="color: rgb(255, 255, 255); text-decoration: none" href="{% url 'logout' %}">LOGOUT</a></li>
                            {% else %}
                                <li class="btn btn-primary" disabled ><a style="color: rgb(255, 255, 255); text-decoration: none" href="{% url 'login' %}">LOGIN</a></li>
                            {% endif %}


                        </ul>
                    </div>
                </div>
            </nav>
            
            {% block blockname %}
                
            {% endblock blockname %}
                
        <!-- Pie de Página -->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; CoderHouse 2022 - Yermary Gonzalez</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="{% url 'inicio' %}">Inicio</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="{% url 'acerca_appsservices' %}">Nosotros</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'AppsServicios/js/scripts.js' %}></script>
    </body>
</html>
